:ruby
  blog_images_path = "/assets/images/blog"
  article_title = current_article.data.title
  article_author = current_article.data.author
  article_date = current_article.date
  article_image = current_article.data.image.to_s
  article_image_lg = current_article.data.image_lg.to_s
  article_caption = current_article.data.caption.to_s

= wrap_layout :layout do
  - content_for :meta_desc do
    = tag "meta", name: "description", content: article_title

  %article.article
    %section.article-container
      .article-title
        %h1= article_title

      .article-meta
        - if article_author
          .meta-author
            = social_link_for(article_author)

        %time.meta-date{ datetime: "#{article_date}" }
          = article_date.strftime("%b %d, %Y")

    - unless article_image.blank?
      %section.article-container-wide
        .hero-image
          - if !article_image_lg.blank?
            = link_to blog_images_path + article_image_lg do
              = image_tag blog_images_path + article_image
          - else
            = image_tag blog_images_path + article_image
          - unless article_caption.blank?
            .hero-image__caption
              %p.caption-text= article_caption

    %section.article-container
      .article-body
        = yield
