!!!
%html{ lang: "en" }
  %head
    = partial "partials/head_contents"

  %body{ class: page_classes }
    = partial "partials/header"
    #content-wrapper
      = yield
    = partial "partials/subscribe-footer"
    = partial "partials/universal-footer"
    = partial "partials/copyright-footer"
    = partial "partials/subscribe_popup"
    = partial "partials/statcounter" if production?
