%li.nav-link
  = link_to "Ministries", ministries_smart_path(current_page.path),
    class: "scroll-on-page-link", title: "Ministries"
%li.nav-link
  = link_to "Our Team", "/team", title: "Our Team"
%li.nav-link
  = link_to "Meet Jesus", "/jesus", title: "Meet Jesus"
%li.nav-link
  = link_to "Blog", "/blog", title: "Blog"
%li.nav-link
  = link_to "About", "/about", title: "About"
%li.nav-link
  = link_to "/donate", class: "donate", title: "Donate" do
    %i.fa.fa-heart
