%nav.pagination-links
  - if prev_page
    %span.page-first= link_to "&laquo; First&nbsp;", first_page
    %span.page-prev= link_to "&lsaquo; Prev", prev_page

  %span.page-current #{page_number} of #{num_pages}

  - if next_page
    %span.page-next= link_to "Next &rsaquo;&nbsp;", next_page
    %span.page-last= link_to "Last &raquo;", last_page
