%li.nav-link= link_to "Ministries", "#"
%li.nav-link= link_to "Our Team", "#"
%li.nav-link= link_to "Doctrine", "#"
%li.nav-link= link_to "About", "#"
%li.nav-link= link_to "Contact", "#"
%li.nav-link= link_to "Donate", "#"
