%footer.universal-footer{ role: "contentinfo" }
  .footer-content
    .footer-links-left
      %ul
        %li= link_to "Ministries", "/ministries"
        %li= link_to "Our Team", "/team"
        %li= link_to "Contact", "/contact"
    .footer-links-right
      %ul
        %li= link_to "About", "/about"
        %li= link_to "Doctrine", "/doctrine"
        %li= link_to "Donate", "/donate"
    .footer-logo
      = link_to home_smart_path(current_page.path), class: "home-back-to-top" do
        = inline_svg "logo-full-white.svg", class: "logo"
