---
title: About
---

.page-content.about
  = partial "markdown/about"

  .our-approach-button
    = link_to "/approach", class: "button" do
      = content_tag :button do
        Learn more about
        %strong Our Approach

  = partial "markdown/directors"

  %ul.director-photos
    %li.block
      = image_tag "joshua-500w.jpg"
      %h5
        Joshua Steele
        %br
          %small President
    %li.block
      = image_tag "jessie-500w.jpg"
      %h5
        Jessie Beal
        %br
          %small Vice President
    %li.block
      = image_tag "nathan-500w.jpg"
      %h5
        Nathan Day
        %br
          %small Treasurer
