---
title: Our Approach
---

%section.approach-hero
  .approach-inner
    %h1 Our Approach
    %p This is how we do ministry.

%section.approach-intro
  .intro-inner
    %p
      Euro Team Outreach exists to fulfill the Great Commission of our Lord
      Jesus Christ, who said,
      %em &quot;Go ye therefore, and teach all nations...&quot;
    %p
      As we minister in response to this command, we focus on
      %br three major objectives.

%section.preach
  %h2 Preach the Gospel.

  .inner
    .preach-image
      = image_tag "preach-1000w.jpg"
    .preach-content
      = partial "markdown/preach"

%section.teach
  %h2 Teach the Bible.

  .inner
    .teach-content
      = partial "markdown/teach"
    .teach-image
      = image_tag "teach-1000w.jpg"

%section.disciple
  %h2 Disciple Men in Missions.

  .inner
    .disciple-image
      = image_tag "disciple-1000w.jpg"
    .disciple-content
      = partial "markdown/disciple"

