---
title: Blog
---

%section.container.page-content
  - page_articles.each_with_index do |article, i|
    - pretty_date = article.date.strftime("%b %d, %Y")

    %article.article-preview
      .article-preview__title
        %h3
          = link_to article.title, article.url

      .article-preview__meta
        - if article.data.author?
          .meta-author
            = social_link_for(article.data.author)

        %time.meta-date{ datetime: "#{article.date}" }= pretty_date

      .article-preview__content
        = article.summary
        %p
          = link_to "Read more", article.url
