---
title: Welcome
---

%section.alpha
  .title-wrapper
    %h1 Euro Team Outreach
    %ul.mission-statement
      %li.ms-item Preaching the Gospel
      %li.ms-item.second Teaching the Bible
      %li.ms-item.third Discipling Men in Missions

    = link_to("#ministries", class: "button scroll scroll-on-page-link") do
      = content_tag :button, "Learn More"

  %a.chevron.scroll.scroll-on-page-link{ href: "#ministries" }
    %i.fa.fa-chevron-down.fa-2x.animated

%section.welcome
  %span.link-target#ministries
  .welcome-inner
    %h2 Welcome!
    %p
      We are a group of missionaries serving Christ in Western Ukraine.
      %br.welcome-break
        Formed in 2004, our team strives to reach others with the message that
        Jesus Christ has made the perfect sacrifice for sin.
    %p
      ETO has two primary ministries, which are summarized below.

%section.biblefirst
  .hero-inner
    %aside
      = image_tag "volume1-500w.jpg"
    %article
      = partial "markdown/bible-first"
      = link_to("http://getbiblefirst.com/", target: "_blank",
        class: "button") do
        = content_tag :button do
          %span
            Learn more at
            %strong getbiblefirst.com
          %i.fa.fa-external-link

%section.cmo
  .hero-inner
    %aside
      = inline_svg "cmo-logo.svg", class: "cmo-logo"
    %article
      = partial "markdown/cmo"
      = link_to("http://cmoproject.org/", target: "_blank", class: "button") do
        = content_tag :button do
          %span
            Learn more at
            %strong cmoproject.org
          %i.fa.fa-external-link
