---
title: Meet Jesus
---

%section.jesus-hero
  .jesus-inner
    %h1 Meet Jesus
    %p
      You know all
      %em about
      Him. But do you
      %em know
      Him?

%section.meet-jesus-intro
  .inner-row
    .content
      = partial "markdown/meet-jesus-intro"


%section.all-have-sinned
  .inner-row
    %h2 The Bible says ALL have sinned.
    .image-1
      = inline_svg "gods-standard.svg", class: "meet-jesus-svg"
      %p.rom-323
        For all have sinned and
        %span.come-short come short
        of the glory of God.
        %small Romans 3:23
    .content-1
      = partial "markdown/all-have-sinned-1"
  .inner-row
    .content-2
      = partial "markdown/all-have-sinned-2"
    .image-2
      = inline_svg "tablets.svg", class: "meet-jesus-svg"

%section.your-verdict
  .inner-row
    %h2 What is your verdict?
    .content-1
      = partial "markdown/your-verdict-1"
    .image-1
      = inline_svg "verdict-hammer.svg", class: "meet-jesus-svg"
  .inner-row
    .image-2
      = inline_svg "hell.svg", class: "meet-jesus-svg"
    .content-2
      = partial "markdown/your-verdict-2"

%section.who-is-jesus
  .inner-row
    = partial "markdown/who-is-jesus"

%section.sins-paid
  .inner-row
    = partial "markdown/sins-paid"

%section.conclusion
  .inner-row
    = partial "markdown/conclusion"
