---
title: Our Team
---

%section.title-hero
  .title-inner
    %h1 Our Team
    %p We'd love for you to meet the family.

%section.team-photos
  %ul.photo-blocks
    %li.block
      = link_to "/steele" do
        = image_tag "team-steele-250w.jpg"
      %h4 The Steeles
    %li.block
      = link_to "/day" do
        = image_tag "team-day-250w.jpg"
      %h4 The Days
    %li.block
      = link_to "/beal" do
        = image_tag "team-beal-250w.jpg"
      %h4 The Beals
    %li.block
      = link_to "/denise" do
        = image_tag "team-denise-250w.jpg"
      %h4 Denise Hutchison
    %li.block
      = link_to "/pat" do
        = image_tag "team-pat-250w.jpg"
      %h4 Pat Rebsch
