---
title: Our Team
---

%section.team-hero
  .title-inner
    %h1 Our Team
    %p We&rsquo;d love for you to meet the family.

%section.team-photos
  %ul.photo-blocks
    %li.block
      = link_to "/day" do
        = image_tag "team-day-500w.jpg", alt: "The Day Family"
      %h4
        = link_to "The Days", "/day"
    %li.block
      = link_to "/steele" do
        = image_tag "team-steele-500w.jpg", alt: "The Steele Family"
      %h4
        = link_to "The Steeles", "/steele"
    %li.block
      = link_to "/sargent" do
        = image_tag "team-sargent-500w.jpg", alt: "The Sargent Family"
      %h4
        = link_to "The Sargents", "/sargent"
    %li.block
      = link_to "/denise" do
        = image_tag "team-denise-500w.jpg", alt: "Denise Hutchison"
      %h4
        = link_to "Denise Hutchison", "/denise"
    %li.block
      = link_to "/patricia" do
        = image_tag "team-patricia-500w.jpg", alt: "Patricia Rebsch"
      %h4
        = link_to "Patricia Rebsch", "/patricia"
