---
title: The Zhylavy Family
---

%section.bio-image-hero
  .image-wrapper
    = image_tag "team-zhylavy-1000w.jpg", class: "landscape",
      alt: "The Zhylavy Family"

%section.bio-title
  %h1 The Zhylavy Family

%section.bio-content
  .bio-text
    = partial "markdown/zhylavy-bio"
  .bio-contact
    = partial "partials/contact-modal",
      locals: { button_title: "Contact the Zhylavys",
      email: data.site.zhylavy_email }
    = partial "markdown/zhylavy-meta"
.top-link-wrap
  = link_to("#", class: "back-to-top") do
    %i.fa.fa-sort-asc{ "aria-hidden" => "true" }
    top
